body {
    background-color: rgb(95, 81, 81);
    margin: 0;
}

.conteiner {
    background-color:#ffd83b;
    width: 800px;
    height: 320px;
    margin: 30px auto;
    box-shadow: 0px 6px 6px 8px #847070;
    border: 3px solid;
}

h1 {
    font-size: 45px;
    text-align: center;
    color: rgba(250, 247, 250, 0.863);
    font-family: Arial, Helvetica, sans-serif;
}

.red {
    color: red;
}

.green {
    color: green;
}

.result {
    font-size: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
